p{
color:white;


font-size: 300%;
}

h1{
    color: black;
    font-size: 400%;
    background-color: aliceblue ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body{
 background-image: url('https://i1.sndcdn.com/avatars-000666682565-dr17n9-t1080x1080.jpg');
 background-size: cover;
 background-position: center; 
 background-repeat: no-repeat; 
}
footer{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}